* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{ 
    background-color:#FFFFFF;
    padding-top: 45px;
    /* height: 92px;
    display: flex; */

}
nav{
    width: 90%;
    max-width: 1500px;
    margin:auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    



}
.btn{
    background-color:#469165;
    border: none;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight:500;
    color: white;
    
}






ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
ul a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;

}
.logo{ 
    height: 60;
    width: 139;
    
}
.le{
    font-size: 18px;
    font-weight: 400px;
}

img{
    background-image: url(assets/hero-bg.png);

}
.uy{
    display: flex;
}

.pu{
    border-radius: 5px;
    font-size: 16px;
    background: local;
    color: #FFFFFF;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 4px;
    height: 43px;

}
.v{
    color: #FFFFFF;

}
.l{
    font-size: 75px; 
    font-weight: 700; 

}
.j{
    color: #30B868;
}
.k{
    font-size: 18px;
    font-weight: 400;
    color:#FFFFFF;
    padding: 0 250px;
    margin: 20px 0;


}
.bh{
    padding: 8px 12px;
    border-radius: 1000px;
    font-weight: 500;
    color: #276941;
}
.bh {
    position: relative; 
    padding: 8px 20px 8px 40px; 
    border-radius: 1000px;
    font-weight: 500;
    color: #276941;
    background-color: #E6F4EA; 
    border: none;
    cursor: pointer;
    font-size: 16px;

   
    box-shadow: 0 4px 10px rgba(1, 8, 3, 0.15);
}

.bh::before {
    content: ""; 
    position: absolute;
    left: 15px; 
    top: 50%; 
    transform: translateY(-50%);
    width: 10px; 
    height: 10px;
    background-color: #30B868; 
    border-radius: 50%; 
}

.img{
    background-image: url(assets/hero-bg.png);
    max-width: 1600px;
    height: 620px;

}
.img-c{
    padding:120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.gt{
    margin-bottom: -7px;
}
.no{
    margin: auto 120px;
    text-align: center;
}
.re{
    font-size: 16px;
    font-weight: 400;
}
.cl{
    color:#627382;
}
.bo{
    font-size: 48px;
    font-weight: 700;

}
.vs{
    margin-top: 50px;
}
.fl{
    display: flex;
}
.ban{
    margin-top: 25px;
}
.bor{
    border: 3px solid whitesmoke;
    height: 200px;
    padding-top: 50px;
}
.m{
    gap:20px;
    margin-right: 5px;
    margin-top: 2px;
}
.gh{
    margin: auto 120px;
    text-align: left;
}
.ds{
    margin: 20px 0;
}
.fr{
    margin-bottom: 15px;
}
.po{
    margin: 80px 40px 20px 40px;
}
.cls{
    background-color: rgba(247, 246, 242, 1);
    max-width: 1400px;
    max-height: 400px;
    margin-bottom: 120px;

}
.gq{
    padding-top: 15px;
    padding-bottom: 80px;
}
.gr{
    padding-top: 70px;
}
.te{
    padding-bottom: 25px;
    margin: 0px 330px;
}
.bcl{
    background-color: rgba(0, 25, 49, 1);
    max-width: 1600px;
    max-height: 500px;
}
.iu{
    padding: 110px 110px 0 110px;
    justify-content: space-between;
    padding-bottom: 80px;
    
}
.ty{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
    padding-bottom: 10px;
}
.social-links {
  text-align: center;
}

.social-links i {
  font-size: 15px;
  background: white;
  color: black;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.3s;
}

.social-links i:hover {
  background: #1DA1F2;
  color: white;
}
.pa{
    text-align: center;
    margin-top: 80px ;
    margin: 0 120px;
    color: #FFFFFF;
    padding:15px 0 30px 0;
    border-top: 1px solid white;
}